@charset "utf-8";

.big-header {
  display: none;
  font-size: 15vw;
}

.content-width {
  width: 90vw;
  margin: 0 auto;
  height: auto;
}

.ct-title {
  margin-top: 70px;
}

.ct-title h1 {
  padding-top: 40px;
  background-color: #fff;
}

.sec-top {
  height: auto;
  display: flex;
}

.top-mg {
  margin-top: 100px;
  padding-top: 140px;
  display: flex;
}

.left-width {
  width: 34.7%;
  height: auto;
  /* background-color: yellowgreen; */
  position: relative;
}

.top-img img {
  margin-top: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.top-img img {
  width: 100%;
}

.right-width {
  width: 61.3%;
  background-color: yellow;
  margin: 0 0 0 auto;
}

.top-exp {
  margin-top: 40px;
}

.item-list {
  list-style: inside;
  position: relative;
  z-index: 9999;
}

.item-list li a {
  position: relative;
}

.item-list li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s;
  transform: scale(0,1);
  transform-origin: left top;
}

.item-list li.current a::after,
.item-list li a:hover::after {
  transform: scale(1,1);
}

.slider {
  width: 100%;
  aspect-ratio: 712/507;
}

.exp-box {
  margin-bottom: 32px;
}

.exp-box h2 {
  margin-bottom: 16px;
}

.sec-4 h3 {
  margin-bottom: 16px;
}

.tool-icon {
  display: flex;
  align-items: center;
}

.left-width h5 {
  margin-top: 32px;
  position: relative;
  z-index: 9999;
}

.left-width ul {
  /* background-color: violet; */
  position: absolute;
  bottom: 0;
  list-style: inside;
}

.left-width li {
  line-height: 1.7;
}

.left-width img {
  margin-left: 5px;
}

.copy-box {
  margin-bottom: 32px;
}
