@charset "utf-8";

.content-width img {
  width: 100%;
  height: auto;
}

.big-header {
  display: none;
  font-size: 15vw;
}

.content-width {
  width: 80vw;
  margin: 0 auto;
  height: auto;
  /* background-color: tan; */
}

.ct-title {
  margin-top: 200px;
  position: relative;
  z-index: 100;
  /* background-color: blue; */
  .konpake_mb {
    display: none;
  }
  .joyl_mb {
    display: none;
  }
}

.sub-title {
  padding-top: 20px;
  letter-spacing: 0.3em;
}

.top-exp {
  box-sizing: border-box;
  padding-top: 24px;
}

.sec-top {
  height: auto;
  display: flex;
  /* margin-top: 48px; */
}

.top-mg {
  margin-top: 100px;
  padding-top: 140px;
  display: flex;
  /* background-color: yellow; */
}

.left-width {
  width: 34.7%;
  height: auto;
  /* background-color: yellowgreen; */
  position: relative;
}

.top-img img {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  left: 0;
  margin-top: 80px;
}

.top-img img {
  width: 100%;
}

.fuku-img_mb {
  display: none;
}

.right-width {
  width: 61.3%;
  height: auto;
  /* background-color: yellow; */
  margin: 0 0 0 auto;
  position: relative;
}

.yu-gothic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
  padding-left: 40px;
}

.futura {
  font-family: 'Futura LT', sans-serif;
  padding-left: 40px;
}

.zenkaku-gothic {
  font-family: "Zen Kaku Gothic New", sans-serif;
  padding-left: 40px;
}

.tsukushi {
  font-family: "fot-tsukubrdgothic-std", sans-serif;
}

.century-goshic {
  font-family: "century gothic paneuropean" , sans-serif;
  font-weight: 700;
}

.color {
  display: flex;
  position: relative;
}

.color h6 {
  line-height: 1.4;
}

.color-box {
  width: 56px;
  height: 56px;
  border-radius: 3%;
  margin-right: 16px;
}

.bc-bk {
  background-color: rgb(46, 34, 28);
  margin-bottom: 24px;
}

.bc-ye {
  background-color: rgb(252, 221, 0);
  margin-bottom: 24px;
}

.bc-wh {
  background-color: rgb(235, 235, 233);
}

.kp-red {
  background-color: rgb(230, 31, 25);
  margin-bottom: 24px;
}

.kp-yellow {
  background-color: rgb(255, 241, 51);
  margin-bottom: 24px;
}

.kp-blue {
  background-color: rgb(23, 72, 156);
}

.ee-bl {
  background-color: rgb(12, 51, 136);
  margin-bottom: 24px;
}

.ee-red {
  background-color: rgb(212, 84, 51);
  margin-bottom: 24px;
}

.ee-ye {
  background-color: rgb(229, 255, 10);
}

.item-list {
  list-style-type: disc;
  position: relative;
  z-index: 998;
}

.item-list li a {
  position: relative;
}

.item-list li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s;
  transform: scale(0,1);
  transform-origin: left top;
}

.item-list li.current a::after,
.item-list li a:hover::after {
  transform: scale(1,1);
}

.slider {
  width: 100%;
  height: auto;
  aspect-ratio: 712/507;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  /* background-color: yellowgreen; */
}

.slider-item01 {
  background: url(../image/bird_coffee/logo_4.jpg);
}

.slider-item02 {
  background: url(../image/bird_coffee/logo_3.jpg);
}

.slider-item03 {
  background: url(../image/bird_coffee/logo_1.jpg);
}

.slider-item04 {
  background: url(../image/bird_coffee/logo_2.jpg);
}

.slider-item05 {
  background: url(../image/bird_coffee/poster_1.jpg);
}

.slider-item06 {
  background: url(../image/bird_coffee/poster_2.jpg);
}

.slider-item07 {
  background: url(../image/bird_coffee/poster_3.jpg);
}

.slider-item08 {
  background: url(../image/bird_coffee/poster_4.jpg);
}

.slider-item09 {
  background: url(../image/bird_coffee/poster_mock_1.jpg);
}

.slider-item10 {
  background: url(../image/bird_coffee/poster_mock_2.jpg);
}

.slider-item11 {
  background: url(../image/bird_coffee/poster_5.jpg);
}

.slider-item12 {
  background: url(../image/bird_coffee/poster_6.jpg);
}

.slider-item13 {
  background: url(../image/bird_coffee/poster_7.jpg);
}

.slider-item14 {
  background: url(../image/bird_coffee/poster_8.jpg);
}

.slider-item15 {
  background: url(../image/bird_coffee/poster_mock_3.jpg);
}

.slider-item16 {
  background: url(../image/bird_coffee/poster_mock_4.jpg);
}

.slider-item17 {
  background: url(../image/bird_coffee/logo_5.jpg);
}

.slider-item21 {
  background: url(../image/bird_coffee/package_1.jpg);
}

.slider-item22 {
  background: url(../image/bird_coffee/package_2.jpg);
}

.slider-item23 {
  background: url(../image/bird_coffee/package_3.jpg);
}

.slider-item24 {
  background: url(../image/bird_coffee/package_4.jpg);
}

.slider-item25 {
  background: url(../image/bird_coffee/package_5.jpg);
}

.slider-item26 {
  background: url(../image/bird_coffee/package_6.jpg);
}

.slider-item27 {
  background: url(../image/bird_coffee/web_1.jpg);
}

.slider-item28 {
  background: url(../image/bird_coffee/web_2.jpg);
}

.slider-item31 {
  background: url(../image/konpake/logo_1.jpg);
}

.slider-item32 {
  background: url(../image/konpake/logo_2.jpg);
}

.slider-item33 {
  background: url(../image/konpake/logo_3.jpg);
}

.slider-item34 {
  background: url(../image/konpake/logo_4.jpg);
}

.slider-item35 {
  background: url(../image/konpake/flyer_1.jpg);
}

.slider-item36 {
  background: url(../image/konpake/flyer_2.jpg);
}

.slider-item37 {
  background: url(../image/konpake/flyer_3.jpg);
}

.slider-item38 {
  background: url(../image/konpake/flyer_5.jpg);
}

.slider-item41 {
  background: url(../image/konpake/web_1.jpg);
}

.slider-item42 {
  background: url(../image/konpake/web_2.jpg);
}

.slider-item43 {
  background: url(../image/konpake/web_3.jpg);
}

.slider-item44 {
  background: url(../image/konpake/web_4.jpg);
}

.slider-item45 {
  background: url(../image/konpake/web_5.jpg);
}

.slider-item51 {
  background: url(../image/Fukushima/poster_1.jpg);
}

.slider-item52 {
  background: url(../image/Fukushima/poster_3.jpg);
}

.slider-item53 {
  background: url(../image/Fukushima/poster_2.jpg);
}

.slider-item54 {
  background: url(../image/Fukushima/poster_4.jpg);
}

.slider-item61 {
  background: url(../image/tennno-haruka/pack_1.jpg);
}

.slider-item62 {
  background: url(../image/tennno-haruka/pack_2.jpg);
}

.slider-item63 {
  background: url(../image/tennno-haruka/pack_3.jpg);
}

.slider-item71 {
  background: url(../image/EOEC/logo_1.jpg);
}

.slider-item72 {
  background: url(../image/EOEC/logo_2.jpg);
}

.slider-item73 {
  background: url(../image/EOEC/logo_3.jpg);
}

.slider-item74 {
  background: url(../image/EOEC/logo_4.jpg);
}

.slider-item75 {
  background: url(../image/EOEC/logo_5.jpg);
}

.slider-item76 {
  background: url(../image/EOEC/logo_6.jpg);
}

.slider-item {
  width: 100%;
  height: 100%;
  aspect-ratio: 712/507;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 24px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: #ccc;
}

.slick-dots .slick-active button {
  background-color: #333;
}

.p-goto-nav__lists2 {
  display: none;
}

.p-goto-nav__lists li p {
  position: relative;
  width: auto;
}

.p-goto-nav__lists li p::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 95%;
  height: 1.5px;
  background: #333;
  transition: all .3s;
  transform: scale(0,1);
  transform-origin: left top;
}

.p-goto-nav__lists li.current p::after,
.p-goto-nav__lists li p:hover::after {
  transform: scale(1,1);
}

.p-goto-nav__list:hover {
  cursor: pointer;
}

.exp-box {
  margin-top: 48px;
}

.exp-box h3 {
  margin-bottom: 24px;
}


.copy-box h3 {
  margin-bottom: 16px;
}

.tool-icon {
  display: flex;
  align-items: center;
}

.left-width h3 {
  margin-top: 16px;
}

.left-width p.exp {
  margin-top: 40px;
  position: relative;
  z-index: 998;
}

.left-width a h5{
  margin-top: 40px;
  margin-left: 5px;
  position: relative;
  z-index: 998;
}

.left-width ul {
  /* background-color: violet; */
  position: absolute;
  left: 5px;
  bottom: 12px;
  /* list-style: inside; */
  list-style-type: disc;
  z-index: 998;
}

.left-width li {
  line-height: 1.6;
}

.left-width img {
  margin-left: 5px;
}

ul.item-list li a {
  font-weight: 700;
}

.copy-box {
  margin-top: 40px;
  margin-bottom: 32px;
}

.web-page {
  margin-top: 40px;
  display: flex;
}

.site-icon img {
  width: 20px;
}

.comp {
  margin-top: 40px;
}

img.window {
  width: 75%;
  height: 100%;
  margin-right: 5%;
  border: 0.25px #333 solid;
}

img.iphone {
  width: 20%;
  border: 0.25px #333 solid;
}

h1.konpake {
  font-size: 5.2vw;
}

h1.eoec {
  font-size: 4.15vw;
}


.img-position {
  width: 40vw;
  margin: 20px 0 0 auto;
}

.fukushima-img {
  width: 40vw;
  /* background-color: aquamarine; */
}

.fukushima-img-mock {
  width: 100%;
  margin-top: 80px;
}

.fk-copy {
  margin-top: 40px;
}

.ten-position {
  width: 30%;
  height: 68vh;
  margin: 0 auto;
  /* background-color: #d7271c; */

}

img.ten-logo {
  width: auto;
  height: 68vh;
  padding: 0 auto;
}

.ten-typo {
  width: 100%;
  height: auto;
  aspect-ratio: 712/507;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.ten-typo img {
  width: 100%;
}

.shizuku-icon img {
  width: 70%;
  margin-left: 15%;
}

.joyl-before {
  margin-top: 80px;
}

.before-img img {
  width: 100%;
  /* background-color: #58c2d7; */
}

.joyl-img img {
  width: 100%;
  border: 0.25px solid #333;
}

.joyl-before2 {
  display: none;
}

/* load */
.move .animation-bg1 {
  background: #fbdc00;
  opacity: 1;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.move .animation-bg2 {
  background: #d7271a;
  opacity: 1;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.move .animation-bg3 {
  background: #58c2d7;
  opacity: 1;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.move .animation-bg4 {
  background: #cfa3ca;
  opacity: 1;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.move .animation-bg5 {
  background: #e5ff0a;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.move .animation-bg6 {
  background: #333;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ttb .animation-bg1,
.ttb .animation-bg2,
.ttb .animation-bg3,
.ttb .animation-bg4,
.ttb .animation-bg5,
.ttb .animation-bg6 {
  animation-name: PageAnime-ttb;
}

@keyframes PageAnime-ttb {
  0% {
    transform-origin: top;
    transform: scaleY(1);
  
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}