@charset "utf-8";

.left-title {
  width: 60%;
  /* background-color: yellow; */
  p {
    font-size: 12px;
    line-height: 1.4;
  }
}

.left-title h1 {
  font-size: 7vw;
  padding-bottom: 2vw;
}

.right-title {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  /* background-color: yellowgreen; */
  p {
    font-size: 12px;
    line-height: 1.4;
  }
}

.right-title h1 {
  font-size: 5.6vw;
  padding-top: 3%;
  padding-bottom: 2vw;
}

.area {
  height: 160vw;
}

.profile-img {
  width: 90%;
  height: auto;
  margin-top: -14px;
  z-index: -10;
}

#luxy li img {
  width: 15vw;
}

.timeline {
  width: 55vw;
  margin: 0 auto 0 35%;
  /* background-color: violet; */
}

.timeline li {
  position: relative;
  list-style: none;
  padding: 0 0 12vw 0;
  height: 20vw;
}

.timeline dt img {
  position: absolute;
  top: -7.5vw;
  left: -7vw;
  z-index: 5;
}

.timeline p {
  position: absolute;
  top: -15%;
  /* background-color: aqua; */
  margin: auto 0 auto 7vw ;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
}

.border-line {
  position: absolute;
  left: 0.2em;
  top: 0;
  width: 1.5px;
  height: 0%;
  background: #000;
  z-index: 2;
}

.timeline li.point::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000;
}

.right-width-p {
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  margin: 180vw 0 0 auto;
  /* position: relative; */
}

h6.career {
  margin-top: 24px;
}

.skill {
  margin-top: 24px;
}

.skill li {
  display: flex;
  padding: 3px 0;
}

.star {
  margin: -0.6vh 0 0 2%;
}

.star img {
  height: 17px;
  width: auto;
  padding-right: 2px;
}

.back-moji {
  display: none;
}

.important-box {
  margin-top: 120px;
}

.value-box {
  margin-top: 24px;
  display: grid;
  gap: 2vw;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  /* background-color: violet; */
  position: relative;
  z-index: 100;
}

.identity-box {
  margin-top: 80px;
  h6 {
    margin-top: 24px;
  }
}

.move .animation-pro {
  background: #fff;
  opacity: 1;
  display: block;
  content: "";
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.ttb .animation-pro {
  animation-name: PageAnime-ttb;
}

