@media screen and (max-width: 800px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .slider-item01 {
    background-image: url(../image/bird/bird-mb1.jpg);
  }
  
  .slider-item04 {
    background-image: url(../image/bird/bird-mb2.jpg);
  }

}