@charset "utf-8";

#contents {
  display: none;

}

#showloading {
  width: 90vw;
  height: 100vh;
  position: relative;
  margin: 0 5vw 0 5vw;
}

#showloading.-visible {
  /* display: none;
  opacity: 0; */
  animation: fadeout 0.3s ease-out forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

#showloading.displaynone {
  display: none;
}

#wrap {
  width: 90vw;
  height: auto;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6vw;
  font-weight: 900;
  /* background-color: yellow; */
  display: none;
  
}

#wrap div {
  display: none;
  float: left;
  transform: translate(0px, -500px);
  opacity: 0;
  transition: 500ms ease-out;
}

.text8 img {
  width: 8vw;
  margin: 0 3px 20px 3px;
  /* background-color: tomato; */
}

p {
  cursor: pointer;
  text-align: center;
}

.back-img-repeat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url(../image/kp_back_pc_repeat.gif); 
  background-size: 100% auto;
  background-repeat: repeat-y!;
  background-position-y: 0;
}